.app {
    
    position: relative;
    display: grid;
    width: 100%;
    height: fit-content;
    overflow: auto;
    gap: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin:auto;
    background-color: #ffffff
}

.addPage {
    border-radius: 5px;
    border: none;
    background: #e0e0e0;
    box-shadow:  9px 9px 18px #d0d0d0,
                 -9px -9px 18px #f0f0f0;
    content: "+";
    margin: auto;
    margin-bottom: 20px;
    height: 100px; 
    width: 100px;
    position:relative
}