.app {
    
    position: relative;
    display: grid;
    width: 100%;
    height: fit-content;
    overflow: auto;
    gap: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin:auto;
    background-color: #ffffff
}
.hero h1{
    display: grid;
  justify-content: center;
  align-content: center;
font-size: 10rem;
font-family: sans-serif;
}
.hero h2{
    display: grid;
  justify-content: center;
  align-content: center;
    font-size: 1.5rem;
font-family: sans-serif;
}
.hero ol{
    list-style-position: inside;
    padding: 15px;
    border-radius: 5px;
    background: #f7f7f7;
    box-shadow:  9px 9px 18px #d0d0d0,
                 -9px -9px 18px #f0f0f0;
    
    font-family: sans-serif;
    font-size: 1.3rem;
    display: grid;
  justify-content: center;
  align-content: center
}
.hero li{
    padding-left: -20px ;
    padding-bottom: 3px;
    
}
dialog{
    display: flex;
    flex-direction: column;
    position:relative
}

.hero{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    /* grid-auto-flow: row; */
    gap: 15px;
}
.print-button{
    height:2.5rem;
    font-size: 1.3rem;
    min-width: max-content;
    width: calc(20% + 50px);
    border-radius: 5px;
background: #f7f7f7;
box-shadow:  9px 9px 18px #d0d0d0,
             -9px -9px 18px #f0f0f0;
}

.addPage {
    border-radius: 5px;
    border: none;
    background: #e0e0e0;
    box-shadow:  9px 9px 18px #d0d0d0,
                 -9px -9px 18px #f0f0f0;
    content: "+";
    margin: auto;
    margin-bottom: 20px;
    height: 100px; 
    width: 100px;
    position:relative
}

.account{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.create-user {
    height:fit-content;
    width: fit-content;
}
.login-user {
    height:fit-content;
    width: fit-content;
}
.pecs-buton {
    height:fit-content;
    width: fit-content;
}
@media print {
    .hero{
        display: none;
    }
    .addPage{
        display: none;
    }
}